.credits {
    h4 {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        margin: 30px 0 18px 0;
    }
    .casts {
        display: flex;
        .cast {
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 120px;
                height: 120px;
                display: block;
                object-fit: cover;
                border-radius: var(--rounded-full);
            }
            .name {
                color: #dbdbdb;
                font-size: 1.5rem;
                font-weight: 700;
                margin: 0;
                padding-top: 6px;
            }
            .original_name {
                margin: 0;
                color: #7a7a7a;
                font-size: 1.5rem;
            }
        }
    }
}
